export(surCoin)
export(surScat)
export(allNet)
export(netCoin)
export(netCorr)
export(d_netCorr)
export(glmCoin)
export(logCoin)
export(edgeList)
export(coin)
export(coocur)
export(cobCoin)
S3method(print, coin)
S3method(print, cooc)
S3method(plot, coin)
S3method(summary, coin)
S3method(summary, netCoin)
S3method(summary, barCoin)
S3method(summary, timeCoin)
export(propCoin)
export(lower)
export(sim)
export(distant)
export(dichotomize)
export(asNodes)
export(coexist)
export(dyncohort)
export(calCentr)
export(timeCoin)
export(barCoin)
export(shinyCoin)
export(expectedList)
export(mobileEdges)
export(incTime)
export(pathCoin)
export(savePajek)
export(saveGhml)
importFrom(rD3plot, network_rd3, barplot_rd3, timeline_rd3, shiny_rd3, rd3_toIgraph, rd3_fromIgraph, rd3_layoutCircle, rd3_layoutGrid, rd3_multigraph, evolNetwork_rd3, gallery_rd3, pie_rd3, add_tutorial_rd3, rd3_multiPages, rd3_addImage, rd3_addDescription)
export(toIgraph)
export(fromIgraph)
export(layoutCircle)
export(layoutGrid)
export(multigraphCreate)
export(gallery)
export(asGallery)
export(pieCoin)
export(addTutorial)
export(caring)
export(caring_read_file)
export(caring_create_graphs)
export(get_template)
export(get_panel_template)
export(renderLinks)
export(multiPages)
export(addImage)
export(addDescription)
importFrom(graphics, plot, text)
importFrom(grDevices,hsv)
importFrom(utils, head, browseURL, combn)
importFrom(stats, as.dist, dist, na.omit, phyper, pt, cor, var, fisher.test, complete.cases, pnorm, gaussian, prcomp)
importFrom(stats, glm, qnorm, qt, relevel, weighted.mean, aggregate)
importFrom(stats, as.formula, pchisq, poisson, 'contrasts<-', xtabs)
importFrom(stats, princomp, factanal)
importFrom(igraph, write_graph)
importFrom(Matrix, Matrix, diag)
importFrom(haven, as_factor)
importFrom(MASS, loglm)
importFrom(GPArotation, oblimin)
importFrom(methods,formalArgs)
